// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ol, ul {
    margin-left: 40px;
}

blockquote {
    margin-left: 20px;
    font-size: 0.9em;
    color: #666;
    border-left: solid 7px #ddd;
    padding-left: 10px;
}

p code, li code {
    border: none;
    background: none;
    font-size: 0.9em;
}
